Repository jsamuelsen11/claude-config: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, jsonlint, yamllint, markdownlint, shellcheck, shfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: '*.{json,yaml,yml,md}'
      run: >
        npx --yes --quiet prettier
        --list-different --write
        --config .lefthook/prettier.config.js
        {staged_files}
      stage_fixed: true

    jsonlint:
      glob: '*.json'
      run: npx --yes --quiet jsonlint --quiet {staged_files}

    yamllint:
      glob: '*.{yaml,yml}'
      run: >
        uvx yamllint
        --config-file .lefthook/.yamllint.yaml
        {staged_files}

    markdownlint:
      glob: '*.md'
      run: >
        npx --yes --quiet markdownlint-cli
        --config .lefthook/.markdownlint.json
        --ignore-path .lefthook/.markdownlintignore
        {staged_files}

    shellcheck:
      glob: '*.sh'
      run: uvx --from shellcheck-py shellcheck {staged_files}

    shfmt:
      glob: '*.sh'
      run: uvx --from shfmt-py shfmt -l -w {staged_files}

    typos:
      run: uvx typos --config .lefthook/_typos.toml

commit-msg:
  commands:
    commitlint:
      run: >
        npx --yes
        -p @commitlint/cli
        -p @commitlint/config-conventional
        commitlint
        --config .lefthook/commitlint.config.js
        --edit {1}

chore(ccfg-core): remove scripts/.gitkeep placeholder
  plugins/ccfg-core/scripts/.gitkeep
Due: none

feat(ccfg-python): implement Python language plugin
  .lefthook/_typos.toml
  plugins/ccfg-python/.claude-plugin/plugin.json
  plugins/ccfg-python/agents/data-scientist.md
  plugins/ccfg-python/agents/django-developer.md
  plugins/ccfg-python/agents/fastapi-developer.md
  plugins/ccfg-python/agents/flask-developer.md
  plugins/ccfg-python/agents/packaging-engineer.md
  plugins/ccfg-python/agents/pytest-specialist.md
  plugins/ccfg-python/agents/python-pro.md
  plugins/ccfg-python/commands/coverage.md
  plugins/ccfg-python/commands/scaffold.md
  plugins/ccfg-python/commands/validate.md
  plugins/ccfg-python/skills/packaging-conventions/SKILL.md
  plugins/ccfg-python/skills/python-conventions/SKILL.md
  plugins/ccfg-python/skills/testing-patterns/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-golang): implement Go language plugin
  .lefthook/.markdownlint.json
  plugins/ccfg-golang/.claude-plugin/plugin.json
  plugins/ccfg-golang/agents/concurrency-specialist.md
  plugins/ccfg-golang/agents/gin-developer.md
  plugins/ccfg-golang/agents/go-test-specialist.md
  plugins/ccfg-golang/agents/golang-pro.md
  plugins/ccfg-golang/agents/grpc-developer.md
  plugins/ccfg-golang/commands/coverage.md
  plugins/ccfg-golang/commands/scaffold.md
  plugins/ccfg-golang/commands/validate.md
  plugins/ccfg-golang/skills/go-conventions/SKILL.md
  plugins/ccfg-golang/skills/module-conventions/SKILL.md
  plugins/ccfg-golang/skills/testing-patterns/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-typescript): implement TypeScript language plugin
  plugins/ccfg-typescript/.claude-plugin/plugin.json
  plugins/ccfg-typescript/.mcp.json
  plugins/ccfg-typescript/agents/angular-architect.md
  plugins/ccfg-typescript/agents/nextjs-developer.md
  plugins/ccfg-typescript/agents/node-backend-developer.md
  plugins/ccfg-typescript/agents/npm-packaging-engineer.md
  plugins/ccfg-typescript/agents/react-specialist.md
  plugins/ccfg-typescript/agents/svelte-specialist.md
  plugins/ccfg-typescript/agents/typescript-pro.md
  plugins/ccfg-typescript/agents/vitest-specialist.md
  plugins/ccfg-typescript/agents/vue-specialist.md
  plugins/ccfg-typescript/commands/coverage.md
  plugins/ccfg-typescript/commands/scaffold.md
  plugins/ccfg-typescript/commands/validate.md
  plugins/ccfg-typescript/skills/packaging-conventions/SKILL.md
  plugins/ccfg-typescript/skills/testing-patterns/SKILL.md
  plugins/ccfg-typescript/skills/ts-conventions/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-java): implement Java language plugin
  plugins/ccfg-java/.claude-plugin/plugin.json
  plugins/ccfg-java/agents/java-architect.md
  plugins/ccfg-java/agents/junit-specialist.md
  plugins/ccfg-java/agents/kotlin-specialist.md
  plugins/ccfg-java/agents/maven-gradle-engineer.md
  plugins/ccfg-java/agents/spring-boot-engineer.md
  plugins/ccfg-java/commands/coverage.md
  plugins/ccfg-java/commands/scaffold.md
  plugins/ccfg-java/commands/validate.md
  plugins/ccfg-java/skills/build-conventions/SKILL.md
  plugins/ccfg-java/skills/java-conventions/SKILL.md
  plugins/ccfg-java/skills/testing-patterns/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-rust): implement Rust language plugin
  plugins/ccfg-rust/.claude-plugin/plugin.json
  plugins/ccfg-rust/agents/axum-developer.md
  plugins/ccfg-rust/agents/cargo-test-specialist.md
  plugins/ccfg-rust/agents/rust-pro.md
  plugins/ccfg-rust/agents/tokio-specialist.md
  plugins/ccfg-rust/commands/coverage.md
  plugins/ccfg-rust/commands/scaffold.md
  plugins/ccfg-rust/commands/validate.md
  plugins/ccfg-rust/skills/cargo-conventions/SKILL.md
  plugins/ccfg-rust/skills/rust-conventions/SKILL.md
  plugins/ccfg-rust/skills/testing-patterns/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-csharp): implement C#/.NET language plugin
  plugins/ccfg-csharp/.claude-plugin/plugin.json
  plugins/ccfg-csharp/agents/aspnet-developer.md
  plugins/ccfg-csharp/agents/csharp-developer.md
  plugins/ccfg-csharp/agents/dotnet-build-engineer.md
  plugins/ccfg-csharp/agents/ef-core-specialist.md
  plugins/ccfg-csharp/agents/xunit-specialist.md
  plugins/ccfg-csharp/commands/coverage.md
  plugins/ccfg-csharp/commands/scaffold.md
  plugins/ccfg-csharp/commands/validate.md
  plugins/ccfg-csharp/skills/csharp-conventions/SKILL.md
  plugins/ccfg-csharp/skills/project-conventions/SKILL.md
  plugins/ccfg-csharp/skills/testing-patterns/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-shell): implement Shell scripting plugin
  .lefthook/_typos.toml
  plugins/ccfg-shell/.claude-plugin/plugin.json
  plugins/ccfg-shell/agents/automation-engineer.md
  plugins/ccfg-shell/agents/shell-pro.md
  plugins/ccfg-shell/commands/scaffold.md
  plugins/ccfg-shell/commands/validate.md
  plugins/ccfg-shell/skills/script-patterns/SKILL.md
  plugins/ccfg-shell/skills/shell-conventions/SKILL.md
Due: prettier, jsonlint, markdownlint

chore: sync beads and update typos config
  .beads/issues.jsonl
Due: none

feat(ccfg-mysql): implement MySQL data plugin
  plugins/ccfg-mysql/.claude-plugin/plugin.json
  plugins/ccfg-mysql/agents/mysql-dba.md
  plugins/ccfg-mysql/agents/query-optimizer.md
  plugins/ccfg-mysql/agents/replication-specialist.md
  plugins/ccfg-mysql/commands/scaffold.md
  plugins/ccfg-mysql/commands/validate.md
  plugins/ccfg-mysql/skills/migration-patterns/SKILL.md
  plugins/ccfg-mysql/skills/mysql-conventions/SKILL.md
  plugins/ccfg-mysql/skills/performance-tuning/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-postgresql): implement PostgreSQL data plugin
  plugins/ccfg-postgresql/.claude-plugin/plugin.json
  plugins/ccfg-postgresql/agents/extension-developer.md
  plugins/ccfg-postgresql/agents/postgres-dba.md
  plugins/ccfg-postgresql/agents/query-optimizer.md
  plugins/ccfg-postgresql/agents/replication-specialist.md
  plugins/ccfg-postgresql/commands/scaffold.md
  plugins/ccfg-postgresql/commands/validate.md
  plugins/ccfg-postgresql/skills/migration-patterns/SKILL.md
  plugins/ccfg-postgresql/skills/performance-tuning/SKILL.md
  plugins/ccfg-postgresql/skills/postgres-conventions/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-mongodb): implement MongoDB data plugin
  plugins/ccfg-mongodb/.claude-plugin/plugin.json
  plugins/ccfg-mongodb/agents/aggregation-expert.md
  plugins/ccfg-mongodb/agents/mongodb-specialist.md
  plugins/ccfg-mongodb/agents/sharding-specialist.md
  plugins/ccfg-mongodb/commands/scaffold.md
  plugins/ccfg-mongodb/commands/validate.md
  plugins/ccfg-mongodb/skills/aggregation-patterns/SKILL.md
  plugins/ccfg-mongodb/skills/mongodb-conventions/SKILL.md
  plugins/ccfg-mongodb/skills/sharding-strategies/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-redis): implement Redis data plugin
  plugins/ccfg-redis/.claude-plugin/plugin.json
  plugins/ccfg-redis/agents/patterns-expert.md
  plugins/ccfg-redis/agents/redis-specialist.md
  plugins/ccfg-redis/commands/scaffold.md
  plugins/ccfg-redis/commands/validate.md
  plugins/ccfg-redis/skills/advanced-patterns/SKILL.md
  plugins/ccfg-redis/skills/redis-conventions/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-sqlite): implement SQLite data plugin
  plugins/ccfg-sqlite/.claude-plugin/plugin.json
  plugins/ccfg-sqlite/.mcp.json
  plugins/ccfg-sqlite/agents/embedded-engineer.md
  plugins/ccfg-sqlite/agents/sqlite-specialist.md
  plugins/ccfg-sqlite/commands/scaffold.md
  plugins/ccfg-sqlite/commands/validate.md
  plugins/ccfg-sqlite/skills/embedded-patterns/SKILL.md
  plugins/ccfg-sqlite/skills/sqlite-conventions/SKILL.md
Due: prettier, jsonlint, markdownlint

chore: sync beads and update typos config
  .lefthook/_typos.toml
Due: none

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
Due: none

chore: add beads config
  .beads/config.yaml
Due: prettier, yamllint

feat(ccfg-docker): implement Docker infrastructure plugin
  plugins/ccfg-docker/.claude-plugin/plugin.json
  plugins/ccfg-docker/agents/compose-architect.md
  plugins/ccfg-docker/agents/container-security.md
  plugins/ccfg-docker/agents/dockerfile-specialist.md
  plugins/ccfg-docker/commands/scaffold.md
  plugins/ccfg-docker/commands/validate.md
  plugins/ccfg-docker/skills/compose-patterns/SKILL.md
  plugins/ccfg-docker/skills/docker-conventions/SKILL.md
  plugins/ccfg-docker/skills/image-optimization/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-github-actions): implement GitHub Actions infrastructure plugin
  plugins/ccfg-github-actions/.claude-plugin/plugin.json
  plugins/ccfg-github-actions/agents/actions-security.md
  plugins/ccfg-github-actions/agents/deployment-architect.md
  plugins/ccfg-github-actions/agents/workflow-specialist.md
  plugins/ccfg-github-actions/commands/scaffold.md
  plugins/ccfg-github-actions/commands/validate.md
  plugins/ccfg-github-actions/skills/actions-conventions/SKILL.md
  plugins/ccfg-github-actions/skills/ci-patterns/SKILL.md
  plugins/ccfg-github-actions/skills/deployment-patterns/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-kubernetes): implement Kubernetes infrastructure plugin
  plugins/ccfg-kubernetes/.claude-plugin/plugin.json
  plugins/ccfg-kubernetes/agents/deployment-strategist.md
  plugins/ccfg-kubernetes/agents/helm-engineer.md
  plugins/ccfg-kubernetes/agents/k8s-specialist.md
  plugins/ccfg-kubernetes/commands/scaffold.md
  plugins/ccfg-kubernetes/commands/validate.md
  plugins/ccfg-kubernetes/skills/deployment-patterns/SKILL.md
  plugins/ccfg-kubernetes/skills/helm-patterns/SKILL.md
  plugins/ccfg-kubernetes/skills/k8s-conventions/SKILL.md
Due: prettier, jsonlint, markdownlint

feat(ccfg-markdown): create plugin manifest and directory structure
  plugins/ccfg-markdown/.claude-plugin/plugin.json
Due: prettier, jsonlint

feat(ccfg-markdown): add markdown-specialist and documentation-architect agents
  plugins/ccfg-markdown/agents/documentation-architect.md
  plugins/ccfg-markdown/agents/markdown-specialist.md
Due: prettier, markdownlint

feat(ccfg-markdown): add commands (validate/scaffold/docs-map) and skills
  plugins/ccfg-markdown/commands/docs-map.md
  plugins/ccfg-markdown/commands/scaffold.md
  plugins/ccfg-markdown/commands/validate.md
  plugins/ccfg-markdown/skills/documentation-patterns/SKILL.md
  plugins/ccfg-markdown/skills/markdown-conventions/SKILL.md
  plugins/ccfg-markdown/skills/writing-quality/SKILL.md
Due: prettier, markdownlint

feat(ccfg-marketplace): create marketplace.json registry for 16 plugins
  .claude-plugin/marketplace.json
Due: prettier, jsonlint

feat(ccfg-marketplace): add third-party plugin and MCP server recommendations
  docs/THIRD_PARTY.md
Due: prettier, markdownlint

feat(ccfg-marketplace): add repository README with quick start and plugin catalog
  README.md
Due: prettier, markdownlint

docs(bootstrap): add script family architecture design
  docs/BOOTSTRAP.md
  docs/DESIGN.md
Due: prettier, markdownlint

feat(bootstrap): add shared library modules for bootstrap scripts
  bootstrap/lib/backup.sh
  bootstrap/lib/claude-md.sh
  bootstrap/lib/common.sh
  bootstrap/lib/detect.sh
  bootstrap/lib/settings.sh
Due: shellcheck, shfmt

feat(bootstrap): add CLAUDE.md section templates for 16 technologies
  bootstrap/templates/sections/csharp.md
  bootstrap/templates/sections/docker.md
  bootstrap/templates/sections/github-actions.md
  bootstrap/templates/sections/golang.md
  bootstrap/templates/sections/java.md
  bootstrap/templates/sections/kubernetes.md
  bootstrap/templates/sections/markdown.md
  bootstrap/templates/sections/mongodb.md
  bootstrap/templates/sections/mysql.md
  bootstrap/templates/sections/postgresql.md
  bootstrap/templates/sections/python.md
  bootstrap/templates/sections/redis.md
  bootstrap/templates/sections/rust.md
  bootstrap/templates/sections/shell.md
  bootstrap/templates/sections/sqlite.md
  bootstrap/templates/sections/typescript.md
Due: prettier, markdownlint

feat(bootstrap): implement ccfg-project-init.sh
  bootstrap/ccfg-project-init.sh
Due: shellcheck, shfmt

feat(ccfg-core): add /project-init slash command
  plugins/ccfg-core/commands/project-init.md
Due: prettier, markdownlint

test(bootstrap): add test suite for ccfg-project-init.sh
  bootstrap/tests/test-project-init.sh
Due: shellcheck, shfmt

feat(plugins): add suggestedPermissions to all 17 plugin.json files
  plugins/ccfg-core/.claude-plugin/plugin.json
  plugins/ccfg-csharp/.claude-plugin/plugin.json
  plugins/ccfg-docker/.claude-plugin/plugin.json
  plugins/ccfg-github-actions/.claude-plugin/plugin.json
  plugins/ccfg-golang/.claude-plugin/plugin.json
  plugins/ccfg-java/.claude-plugin/plugin.json
  plugins/ccfg-kubernetes/.claude-plugin/plugin.json
  plugins/ccfg-markdown/.claude-plugin/plugin.json
  plugins/ccfg-mongodb/.claude-plugin/plugin.json
  plugins/ccfg-mysql/.claude-plugin/plugin.json
  plugins/ccfg-postgresql/.claude-plugin/plugin.json
  plugins/ccfg-python/.claude-plugin/plugin.json
  plugins/ccfg-redis/.claude-plugin/plugin.json
  plugins/ccfg-rust/.claude-plugin/plugin.json
  plugins/ccfg-shell/.claude-plugin/plugin.json
  plugins/ccfg-sqlite/.claude-plugin/plugin.json
  plugins/ccfg-typescript/.claude-plugin/plugin.json
Due: prettier, jsonlint

feat(bootstrap): add user-claude.md template for ~/.claude/CLAUDE.md
  bootstrap/templates/user-claude.md
Due: prettier, markdownlint

feat(bootstrap): implement ccfg-bootstrap.sh global setup script
  bootstrap/ccfg-bootstrap.sh
Due: shellcheck, shfmt

fix(bootstrap): quote github-actions key to prevent shfmt reformatting
  bootstrap/ccfg-bootstrap.sh
Due: shellcheck, shfmt

feat(bootstrap): add test suite and fix alwaysThinkingEnabled=false bug
  bootstrap/lib/settings.sh
  bootstrap/tests/test-bootstrap.sh
Due: shellcheck, shfmt

chore: added beads viewer to gitignore
  .gitignore
Due: none

feat(registry): add curated third-party plugin registry
  bootstrap/lib/registry.sh
Due: shellcheck, shfmt

docs(registry): add human-readable registry reference
  .lefthook/_typos.toml
  docs/REGISTRY.md
Due: prettier, markdownlint
