Repository jsamuelsen11/claude-config: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, jsonlint, yamllint, markdownlint, shellcheck, shfmt

prettier:
  run: 'npx --yes --quiet prettier --list-different --write --config .lefthook/prettier.config.js {staged_files}
  
    '
  stage_fixed: true

jsonlint:
  run: npx --yes --quiet jsonlint --quiet {staged_files}

yamllint:
  run: 'uvx yamllint --config-file .lefthook/.yamllint.yaml {staged_files}
  
    '

markdownlint:
  run: 'npx --yes --quiet markdownlint-cli --config .lefthook/.markdownlint.json --ignore-path .lefthook/.markdownlintignore {staged_files}
  
    '

shellcheck:
  run: uvx --from shellcheck-py shellcheck {staged_files}

shfmt:
  run: uvx --from shfmt-py shfmt -l -w {staged_files}

docs(bootstrap): replace preliminary plugin table with registry reference
  docs/BOOTSTRAP.md
Due: prettier, markdownlint

feat(bootstrap): implement ccfg-plugins.sh third-party plugin manager
  bootstrap/ccfg-plugins.sh
Due: shellcheck, shfmt

test(bootstrap): add test suite for ccfg-plugins.sh
  bootstrap/ccfg-plugins.sh
  bootstrap/tests/test-plugins.sh
Due: shellcheck, shfmt

refactor(bootstrap): address PR review — timeout fallback, dedup, LSP helpers
  bootstrap/ccfg-plugins.sh
  bootstrap/lib/registry.sh
  bootstrap/tests/test-plugins.sh
Due: shellcheck, shfmt

feat(registry): add marketplace-to-repo mapping for error messages
  bootstrap/lib/registry.sh
Due: shellcheck, shfmt

feat(bootstrap): add marketplace availability check to ccfg-plugins.sh
  bootstrap/ccfg-plugins.sh
  bootstrap/tests/test-plugins.sh
Due: shellcheck, shfmt

test(bootstrap): extend test suite for ccfg-plugins.sh (11 new tests)
  bootstrap/tests/test-plugins.sh
Due: shellcheck, shfmt

refactor(bootstrap): address PR review — marketplace helpers and parsing
  bootstrap/ccfg-plugins.sh
  bootstrap/lib/registry.sh
Due: shellcheck, shfmt

feat(core): strengthen linter/formatter bypass rules in workflow-rules skill
  plugins/ccfg-core/skills/workflow-rules/SKILL.md
Due: prettier, markdownlint

docs(design): fix plugin summary table counts and add ccfg-markdown to marketplace
  .claude-plugin/marketplace.json
  docs/DESIGN.md
Due: prettier, jsonlint, markdownlint

docs(bootstrap): add missing Incremental Validation section to template spec
  docs/BOOTSTRAP.md
Due: prettier, markdownlint

docs(ccfg-core): fix command count, add project-init, fix MCP server name
  docs/plugins/CCFG_CORE.md
Due: prettier, markdownlint

docs(language-plugins): add suggestedPermissions, remove empty skill dir
  docs/DESIGN.md
  docs/plugins/language/CCFG_CSHARP.md
  docs/plugins/language/CCFG_GOLANG.md
  docs/plugins/language/CCFG_JAVA.md
  docs/plugins/language/CCFG_PYTHON.md
  docs/plugins/language/CCFG_RUST.md
  docs/plugins/language/CCFG_SHELL.md
  docs/plugins/language/CCFG_TYPESCRIPT.md
Due: prettier, markdownlint

docs(data-plugins): add suggestedPermissions to all 5 plugin docs
  docs/plugins/data/CCFG_MONGODB.md
  docs/plugins/data/CCFG_MYSQL.md
  docs/plugins/data/CCFG_POSTGRESQL.md
  docs/plugins/data/CCFG_REDIS.md
  docs/plugins/data/CCFG_SQLITE.md
Due: prettier, markdownlint

docs(infra-plugins): add suggestedPermissions to all 3 plugin docs
  docs/plugins/infra/CCFG_DOCKER.md
  docs/plugins/infra/CCFG_GITHUB_ACTIONS.md
  docs/plugins/infra/CCFG_KUBERNETES.md
Due: prettier, markdownlint

docs(ccfg-markdown): add suggestedPermissions to plugin doc
  docs/plugins/tooling/CCFG_MARKDOWN.md
Due: prettier, markdownlint

feat(ccfg-core): split api-designer into 4 specialized API design agents
  README.md
  docs/plugins/CCFG_CORE.md
  plugins/ccfg-core/agents/api-designer.md
  plugins/ccfg-core/agents/event-driven-api-designer.md
  plugins/ccfg-core/agents/graphql-api-designer.md
  plugins/ccfg-core/agents/grpc-api-designer.md
  plugins/ccfg-core/agents/rest-api-designer.md
Due: prettier, markdownlint

fix(api-agents): address code review — gitleaks key, cross-reference table
  plugins/ccfg-core/agents/event-driven-api-designer.md
  plugins/ccfg-core/agents/graphql-api-designer.md
  plugins/ccfg-core/agents/grpc-api-designer.md
  plugins/ccfg-core/agents/rest-api-designer.md
Due: prettier, markdownlint

Path conditions:
  prettier: any of: *.{json,yaml,yml,md}
  jsonlint: any of: *.json
  yamllint: any of: *.{yaml,yml}
  markdownlint: any of: *.md
  shellcheck: any of: *.sh
  shfmt: any of: *.sh
